# Generated presentations
*.html
*.md
!README.md
!SKILL.md
!agent.md

# Ignore large PDFs or resources not needed for engine itself
*.pdf

# Python
__pycache__/
*.pyc

# PowerPoint
*.pptx
!templates/*.pptx
~$*.pptx

# Output Folder
output/*
!output/.gitkeep
